footer {
  width: 100%;
  max-width: 100vw;
  height: 100px;
  background: var(--pure-white);
}

.footer .content {
  max-width: var(--content-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100px;
  background: var(--pure-white);
}

.footer .content .top {
  flex: 1;
  padding-top: 40px;
}
